.bad {
    background-color: rgb(201, 87, 59);
    border: solid 5px #c72800;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: "Philosopher";

    #imperio {
        border: solid 5px #c72800;
        width: 5rem;
    }
    
    #crucio {
        border: solid 5px #c72800;
        width: 5rem;
    }
    
    #avada {
        border: solid 5px #c72800;
        width: 5rem;
    }

    .mal {
        width: 300px;
    }
    
}
