@font-face {
    font-family: "Roboto";
    src: url("../css/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Play";
    src: url("../css/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Philosopher";
    src: url("../css/fonts/Philosopher-Italic.ttf");
}