.tarjeta {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;

    .good-1 {
        width: 22%;    
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Roboto";
        transition: 1s;
    
        &:hover {
            transform: scale(1.5,1.5);
        }
        
        #sec-1 {
            background-color: rgb(11, 124, 11);
            border: solid 5px #075200;
            width: 7rem;
            padding: 3rem;
        }
        
        #sec-2 {
            background-color: #cf2626;
            border: solid 5px #5e0e0e;
            width: 6rem;
            padding: 3rem;
            padding-left: 3rem;
        }
        
        #sec-3 {
            background-color: rgb(231, 211, 30);
            border: solid 5px #887a00;
            width: 7rem;
            padding: 3rem;
        }
        
        #sec-4 {
            background-color: rgb(21, 88, 163);
            border: solid 5px #07236e;
            width: 6rem;
            padding: 3rem;
            padding-left: 3rem;
        }

        .menu-link {
            color:black;
            text-decoration: none;
            font-size: large;
        }
    }

    .godric {
        background-color: #b42400;
        border: solid 5px red;
        width: 29%;
        font-family: "Play";
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;

        #gry {
            background-color: #ff7a62;
            border: solid 5px red;
            width: 10rem;
        }
    }
    
    .helga {
        background-color: #ffb555;
        border: solid 5px #ffff00;
        width: 29%;
        font-family: "Play";
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;

        #hel {
            background-color:#c5a61e;
            border: solid 5px #ffe985; 
            width: 10rem;
        }
    }
    
    .rowena {
        
        background-color: #1950b6;
        border: solid 5px #010875;
        width: 29%;
        font-family: "Play";
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;

        #row {
            background-color:#3d99e4;
            border: solid 5px #2433ff;
            width: 10rem;
        }
    }
    
    .salazar {
        
        background-color: #008000;
        border: solid 5px #005500;
        width: 29%;
        font-family: "Play";
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;

        #sal {
            background-color:#09b303;
            border: solid 5px #165f00; 
            width: 9rem;
        }
    } 

    .fundador {
        width: 400px;
        height: 500px;
    }

    .good {
        background-color: bisque;
        border: solid 5px #c75a00;
        width: 22%;    
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        font-family: "Philosopher";

        #wingardium {
            border: solid 5px #c75a00;
            width: 8rem;
        
        }
        
        #expelliarmus {
            border: solid 5px #c75a00;
            width: 10rem;
        
        }
        
        #alohomora {
            border: solid 5px #c75a00;
            width: 8rem;
        }

        .objets {
            width: 300px;
        }
        
        #varita {
            border: solid 5px #c75a00;
            width: 6rem;
            padding-left: 20px;
        }
        #escoba {
            border: solid 5px #c75a00;
            width: 6rem;
            padding-left: 20px;
        }
        #golosina {
            border: solid 5px #c75a00;
            width: 7rem;
            padding-left: 15px;
        }
        #dinero {
            border: solid 5px #c75a00;
            width: 5rem;
            padding-left: 18px;
        }
        
    }
}